# ENVIRONMENT | 'development' or 'production'
NODE_ENV='development'
PORT=4000
RUNNING_ON_MACHINE=ubuntu
LOG_LEVEL='debug'

# Server environment: PROD or STAGING or DEV
SERVER_ENV=DEV

# DATABASE
DB_HOST=localhost
DB_NAME=vnode1
DB_USER=postgres
DB_PASS=postgres